.about {

}

.img {
  width: 100%;
}

.name {
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

.item {
  line-height: 1.5;
}

.time {
  color: #000;
}

.li {
  padding-left: 1em;
  position: relative;
  margin-bottom: 0.8em;
}

.li:before {
  content: "-";
  position: absolute;
  left: 0;
}

.exhibitionName {
  width: 60%;
  display: inline-block;
}

.city {
  margin-left: 1em;
}

.title {
  margin-bottom: 1em;
  font-size: 16px;
  color: #000;
}

.panel {
  margin-top: 3em;
}

.mail {
  margin-top: 20px;
  font-size: 14px;
}

.mail i {
  margin-right: 20px;
}