.header {
  height: 80px;
  width: 100%;
  background-color: #fff;
  transition: all ease .5s;
  z-index: 10;
  position: fixed;
  line-height: 80px;
}

.brand {
  float: left;
  font-size: 30px;
}

.locale {
  float: right;
  cursor: pointer;
  font-size: 14px;
}

.locale a {
  color: #999;
}

.active {
  color: #000 !important;
}

.small {
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}