.header {
  height: 80px;
  line-height: 80px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  transition: all ease .5s;
  z-index: 3;
}

.small {
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.brand {
  float: left;
  color: #ff0000;
  font-size: 20px;
  margin-right: 60px;
}

.list {
  float: left;
  padding: 0;
}

.list li {
  list-style: none;
  float: left;
  padding: 0 25px;
  cursor: pointer;
}

.list li a {
  color: #999;
}

.list li a:hover, a:focus {
  color: #000;
  text-decoration: none;
}

.list li a:global.nuxt-link-active {
  color: #000;
}

.locale {
  float: right;
  cursor: pointer;
  color: #999;
}

.active {
  color: #000;
}